.container {
    margin: 8px;
    border: 1px solid lightgray;
    border-radius: 2px;
}

.title {
    padding: 8px;
}

.taskList {
    padding: 8px;
}

.taskWrapper {
    border: 1px solid lightgray;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: white;
}

.mainHeader {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 25px;
}

.mainDiv {
    display: flex;
    gap: 4px;
    justify-content: space-between;
    margin: 4px 20px;
}

.column {
    background-color: white;
    border: 1px solid gray;
    width: 100%;
}

.columnHeader {
    text-align: center;
    font-weight: bold;
    margin-bottom: 6px;
    color: black;
}

.card {
    background-color: lightgray;
    margin: 3px 1px;
    padding: 3px 4px;
}