// components/Dialog.module.scss
.dialog {
    display: flex;
    flex-direction: column;
}

.replica {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    strong {
        margin-right: 8px;
    }

    button {
        margin-left: 8px;
        padding: 4px 8px;
        font-size: 14px;
        cursor: pointer;

        &:first-of-type {
            margin-right: 4px;
        }
    }
}

.editing {
    display: flex;
    flex-direction: column;

    input {
        margin-bottom: 8px;
        padding: 8px;
        font-size: 16px;
    }
}